.box{
	border:2px solid red;
	width: 100px;
	height: 100px;
	 background:   #6699FF;
    margin-left: 45%;
    margin-top: 20%;
    position: relative;
   
    
}
#text{
	text-align: center;
	 line-height: 100px;
	font-family: 'Cabin', sans-serif;
	opacity: 1;
}
h1{
	font-family: 'Cabin', sans-serif;
}
body{
	background-image: url(bg.jpg);
	background-size: cover;
}